div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
   
     .h1{
    color: rgb(16, 180, 119);
    padding:120px ;
    text-align:center;
  
      }
   
      .centre{
        padding:290px  ;
          text-align:center;
        color:green;
      }
      .h2{
        padding:3px 20px;
          text-align:center;
        color:whitesmoke;
        padding-top:0px;
      }
      button{
          padding:40px 40px;
          text-align:center;
          background-color: cadetblue;
          text-shadow: coral;
  
      }
    body {
    background-image: url("paper.gif");
    background-color: #cccccc;
    }
    body, html {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-image: url("saroj.jpeg");
  
    height: 100%; 
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  div.sticky {
    position: -webkit-sticky;
    position: fixed;
  width:100%;
    
  }
  ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .avatar {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
   
  }
  .column {
    float: left;
    width: 33.33%;
    margin-left: 230px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .myDiv {
    border: 2px outset red;
    background-color: lightblue;    
    text-align: center;
    padding: 20px 10px;
  }
  .input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    background-color: #4CAF50; /* Green */
     border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 8px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
  }
  
  .button1:hover {
    background-color: #008CBA;
    color: white;
  }
  
  
  #footer .twitter {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  #footer .linkedin {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -78px 0;
  }
  #footer .facebook {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -233px 0;
  }
  #footer .skype {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -156px 0;
  }
  #footer .instagram {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -310px 0;
  }
  #footer a {
    height: 56px;
    width: 56px;
    display: inline-block;
    margin: 5px;
    text-align: center;
  
   
  }
  #footer a:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }
  #footer .twitter:hover {
    background-position: 0 -56px;
  }
  #footer .facebook:hover {
    background-position: -233px -56px;
  }
  #footer .skype:hover {
    background-position: -156px -56px;
  }
  #footer .linkedin:hover {
    background-position: -78px -56px;
  }
  #footer .instagram:hover {
    background-position: -310px -56px;
  }
  .bg-dark-1{
    background-color: lightgray;
  background-image: lightgray;
   
  }
  